In [9]:
from zipfile import ZipFile
import os
import pandas as pd

In [17]:
zipfile = os.path.join(os.path.dirname(os.getcwd()), 'data', 'test-zip.zip')
datadir = os.path.join(os.path.dirname(os.getcwd()), 'data')
datapath = os.path.join(datadir, os.path.basename(zipfile).replace('.zip', ''))

with ZipFile(zipfile) as z:
    z.extractall(datadir)

In [18]:
# read in the meta file
metapath = os.path.join(datapath, 'meta.csv')
print(metapath)
if not os.path.exists(metapath):
    raise ValueError('meta.csv not found, can not upload this data!')
pd.read_csv(metapath)

/home/nfranz/otter/data/test-zip/meta.csv

,name,ra,dec,ra_units,dec_units,reference,phot_path
0,2022xkq,76.348792,-11.88225,'deg','deg',2023arXiv230910054P,22xkq_behindFig2.dat